nav {
  border-bottom: 2px solid rgb(227, 139, 24);

  a {
    margin: 0 1rem;
  }
  a:first-child {
    margin-left: 0;
  }
}

.post, .main-loading {
  display: block;
  padding: 12px 0;

  &:hover {
    padding-bottom: 10px;
  }
}

.filter-delete {
  margin: 0 8px;
}

.sad-mad {
  background: rgb(176,84,39);
  background: linear-gradient(45deg, rgba(176,84,39,1) 20%, rgba(255,0,0,1) 100%);

  margin: 1rem;

  .sad-mad-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.hint {
  padding-left: 1rem;
}

.reload-btn {
  margin: 0 1rem;
}

.stt-footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* Transitions */
.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-enter {
  transform: translateX(-10px);
}
/*** ***/
