:root {
  --highlight-color: rgb(227, 139, 24);
  color-scheme: light dark;
}
header {
  margin-bottom: 0.4rem;
}
nav {
  position: relative;
  border-bottom: 2px solid var(--highlight-color);

  a {
    margin: 0 1rem;
  }
  a:first-child {
    margin-left: 0;
  }
}

.drawer {
  position: absolute;
  top: 32px;
  right: 0;
  width: 200px;
  background-color: black;
  border-radius: 5px;
  padding: 1rem;

  a {
    display: block;
    margin: 0;
  }
}

.extras-button {
  float: right;
  font-size: 1.8rem;
  padding: 2px 5px;
  border: none;
}

.post, .main-loading {
  display: block;
  padding: 0.56rem 0;
}

.baseurl, .comments, .drawer a {
  padding-bottom: 4px;
}
.comments:hover, .drawer a:hover {
  padding-bottom: 2px;
}

.post-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.53rem;
}
/* sakura break points | md: 684px, sm: 382px */
@media (max-width: 684px) {
  nav a {
    margin: 0 0.7rem;
  }
  .post-line-2 {
    font-size: 1.35rem;
  }
  .extras-button {
    font-size: 1.35rem;
    padding: 2px 4px;
  }
}
@media (max-width: 382px) {
  .post-line-2 {
    font-size: 1rem;
  }
}

.filter-delete {
  margin: 0 8px;
}

.sad-mad {
  background: rgb(176,84,39);
  background: linear-gradient(45deg, rgba(176, 84, 39, 1) 20%, rgb(165, 0, 0) 100%);

  margin: 1rem;

  .sad-mad-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (prefers-color-scheme: light) {
    background: rgb(255, 124, 58);
  }
}

.hint {
  padding-left: 1rem;
}

.reload-btn {
  margin: 0 1rem;
}

.stt-footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/* Transitions */
.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-enter {
  transform: translateX(-10px);
}

.drawer-enter-active,
.drawer-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}
.drawer-enter,
.drawer-exit-to {
  transform: translateY(-36px);
  opacity: 0;
}
/*** ***/

.sub-header {
  margin: 4px 0px;
  border-bottom: 2px solid var(--highlight-color);
}

.story {
  margin-bottom: 1.5rem;
}

.log-details {
  padding-bottom: 0.75rem;

  p {
    margin: 0.5rem 3rem;
  }
}

.log-preferences {
  margin-top: 3rem;
  border: 2px solid var(--highlight-color);
  padding: 2rem;
}
